
extend layout
block content
    p
        h2 Plant ID: 1 Name: Plant1.mygarden.com
        table.table.table-bordered.table-hover
          thead
              tr
                  th index
                  th DeviceID
                  th Temperature
                  th Soil Moisture
                  th Water Level
                  th Water Duration
                  th Watered
                  th Date
          tbody
              if(data!=null)
                each d, index in data
                  tr
                      td= index
                      td=  d.deviceId
                      td=  d.data.temp
                      td=  d.data.soil
                      td=  d.data.waterlevel
                      td=  d.waterduration
                      td=  d.watered
                      td=  d.insertTime
      p
          h2 Table Name: Connected Things

          table.table.table-bordered.table-hover
            thead
              tr
                  th index
                  th DeviceID
                  th Local IP
                  th MAC
                  th Capabilities
                  th Date
            tbody
              if(data!=null)
                each d, index in data2
                  tr
                      td= index
                      td=  d.deviceId
                      td=  d.localIP
                      td=  d.mac
                      td=  Object.keys(d.capabilities)
                      td=  d.insertTime
      p
          h4  Weather #{weather.title}
          h4  Forecast for next 5 days

          table.table-bordered.table-hover
            thead
              tr
                  th Date
                  th High Temp
                  th Low Temp
                  th Forecast
            tbody
                each d, index in weather.forecast
                  tr
                      td=  d.date
                      td=  d.high
                      td=  d.low
                      td=  d.text
