doctype
html
  head
    title #{title} - IOT Garden
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    //link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.page-header
      h1 #{name} - My Garden View
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p IOT Garden
